@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@media (min-height: 550px) and (max-height: 700px) and (max-width: 1024px) {
.crew-img{
    width: 20rem !important;
}
    .crew-absolute{
        position: absolute !important;
         top: 11.8rem !important;
        right: 2rem !important;
    }
    .title{
        padding-left: 1rem !important;
    }
    .crew-info{
        margin-top: 5rem !important;
        display: block !important;
        padding-left: 1rem;
    }
    #slider-button{
        margin: 0;
        position: static;
        margin-left: 2rem;
        margin-top: 25rem;
    }
    .tech-img{
        height: 20rem;
    }
    .d-text-left{
        text-align: left !important;
    }

}
@media (min-width: 420px) and (max-width: 450px){
    #slider-button{
        width: 21rem;
        padding-left: 3.5rem;
    }
}
@media (min-width: 580px) and (max-width: 685px){
       #slider-button{
        width: 21rem;
        padding-left: 3.5rem;
           margin-top: 20rem;
    }
}
@media (min-width: 686px) and (max-width: 749.99px){
       #slider-button{
        width: 21rem;
        padding-left: 3.5rem;
           margin-top: 22rem;
    }
}
@media (min-width: 789px) and (max-width: 990px){
       #slider-button{
        width: 21rem;
        padding-left: 3.5rem;
           margin-top: 28rem;
    }
}
@media (min-width: 1125px) and (max-width: 1279px){
       #slider-button{
        width: 21rem;
        padding-left: 3.5rem;
           margin-top: 35rem;
    }
}
@media (min-width: 1020px) and (max-width: 1024px) and (min-height: 1360px){
 .d-flex-col{
    flex-direction: column !important;
     margin-top: 5rem !important;
     text-align: center !important;
 }
    .d-text-center{
        text-align: center !important;
        font-size: 25px !important;
        width: 35rem !important;
    }
    .explore-circle{
        margin-left: 0 !important;
    }
}